<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{sistema/template-admin/layout}">
<head>
    <title th:text="#{usuario.lista.titulo}">Usuários</title>
</head>
<body>
<section layout:fragment="corpo">

    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <div class="page-pretitle" th:text="#{usuario.lista.breadcrumb}">Administração &gt; Usuários</div>
                <h2 class="page-title" th:text="#{usuario.lista.titulo}">Usuários</h2>
                <div class="text-secondary" th:text="#{usuario.lista.descricao}">Gerencie os usuários do sistema.</div>
            </div>
            <div class="col-auto ms-auto">
                <button class="btn" id="btnFiltrar" data-bs-toggle="modal" data-bs-target="#modalFiltro">
                    <span th:text="#{usuario.lista.botao.filtrar}">Filtrar</span>
                </button>
                <button class="btn btn-primary" id="btnNovo" sec:authorize="hasAuthority('PERM_USUARIOS_INSERIR')"
                        data-bs-toggle="modal" data-bs-target="#modalUsuario">
                    <span th:text="#{usuario.lista.botao.novo}">Novo usuário</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="table-responsive">
            <table class="table table-vcenter card-table" id="tabelaUsuarios">
                <thead>
                <tr>
                    <th data-col="nome" class="sortable" role="button" th:text="#{usuario.col.nome}">Nome</th>
                    <th data-col="login" class="sortable" role="button" th:text="#{usuario.col.login}">Login</th>
                    <th data-col="email" class="sortable" role="button" th:text="#{usuario.col.email}">E-mail</th>
                    <th data-col="perfilNome" class="sortable" role="button" th:text="#{usuario.col.perfil}">Perfil</th>
                    <th th:text="#{usuario.col.genero}">Gênero</th>
                    <th data-col="criadoEm" class="sortable" role="button" th:text="#{usuario.col.criadoEm}">Criado em</th>
                    <th data-col="excluido" class="sortable" role="button" th:text="#{usuario.col.situacao}">Situação</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody id="corpoTabela"></tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center">
            <p class="m-0 text-secondary" id="rodapeContagem"></p>
        </div>
    </div>

    <div th:replace="~{sistema/modulos/usuario/fragments/modal-filtro :: modal}"></div>
    <div th:replace="~{sistema/modulos/usuario/fragments/modal-form :: modal}"></div>
    <div th:replace="~{sistema/modulos/usuario/fragments/modal-historico :: modal}"></div>

    <div id="toastArea" class="position-fixed bottom-0 end-0 p-3" style="z-index:1100;"></div>

    <span sec:authorize="hasAuthority('PERM_USUARIOS_EDITAR')" data-perm="editar" hidden></span>
    <span sec:authorize="hasAuthority('PERM_USUARIOS_EXCLUIR')" data-perm="excluir" hidden></span>
    <span sec:authorize="hasAuthority('PERM_USUARIOS_VER_HISTORICO')" data-perm="historico" hidden></span>

    <div id="dadosTela"
         th:data-login-atual="${#authentication?.name}"
         th:data-url-dados="@{/usuarios/listar-dados}"
         th:data-url-buscar="@{/usuarios/buscar}"
         th:data-url-excluir="@{/usuarios/excluir}"
         th:data-url-historico="@{/usuarios/historico}"
         th:data-msg-confirma-exclusao="#{msg.usuario.confirma.exclusao}"
         th:data-msg-cadastrado="#{msg.usuario.cadastrado}"
         th:data-msg-atualizado="#{msg.usuario.atualizado}"
         th:data-msg-excluido="#{msg.usuario.excluido}"
         th:data-msg-filtro-vazio="#{msg.usuario.filtro.vazio}"
         hidden></div>
</section>

<th:block layout:fragment="js">
    <script type="module" th:src="@{/js/usuario/listar.js}"></script>
</th:block>
</body>
</html>
