<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>DSCPROJECT</title>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Nesse sistema vc irá encontrar módulos diversos para auxilio no dia-a-dia." />
        <meta name="author" content="Diego Santos" />

        <link rel="icon" th:href="@{/image/favicon.png}" />
        <link th:href="@{/webjars/tabler__core/1.4.0/dist/css/tabler.min.css}" rel="stylesheet" />
        <link th:href="@{/css/style.css}" rel="stylesheet" />
    </head>

    <body class="layout-fluid" cz-shortcut-listen="true">
        <div class="page">

            <th:block th:replace="~{sistema/template-admin/fragments/sidebar :: sidebar}"></th:block>

            <div class="page-wrapper">
                <div th:replace="~{sistema/template-admin/fragments/header :: header}">
                    <div>header</div>
                </div>

                <div class="page-body">
                    <div class="container-xl">
                        <section layout:fragment="corpo"></section>
                    </div>
                </div>
                <footer th:replace="~{sistema/template-admin/fragments/footer :: footer}">
            </div>

            <script src="/webjars/tabler__core/1.4.0/dist/js/tabler.min.js"></script>
        </div>
    </body>
</html>