<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
<div th:fragment="header" class="page-header d-print-none" aria-label="Page header">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle visually-hidden"></div>
                <th:block th:replace="~{sistema/template-admin/fragments/titulo :: titulo}"></th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>